In [308]:
import pandas as pd
import numpy as np
data = pd.read_csv('GSAF5.csv', engine='python')

In [10]:
#miro la forma para ver de que esta compuesta
data.shape

(5992, 24)

In [126]:
#analizo los elementos nulos de cada columna
null_cols = data.isnull().sum()

In [379]:
#Elimino las columnas que no necesito
datan = data.drop(columns=['Unnamed: 22', 'Unnamed: 23', 'Investigator or Source','pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'Species ', 'Time'])

In [380]:
#Elimino los aÃ±os que estan a cero

In [381]:
datani = datan[datan.Year != 0]

In [382]:
datanis = datani[datani.Year > 1948]

In [383]:
datanis['Date'] = datanis['Date'].str.replace('-', ' ')
datanis['Date'] = datanis['Date'].str.replace('\d+', '')
datanis['Date'] = datanis['Date'].str.replace('Reported', '')
datanis['Date'] = datanis['Date'].str.replace('Early', '')
datanis['Date'] = datanis['Date'].str.replace('Late', '')
datanis['Date'] = datanis['Date'].str.replace(' ', '')
datanis['Date'] = datanis['Date'].str.replace('Summer, summer, summerof ', '')

/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [384]:
df = datanis[datanis.Date != ""]

In [385]:
#ass = df.Date.value_counts().head(12).index

In [386]:
df2 = df[df["Date"].isin(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug', 'Sep','Oct','Nov','Dec'])]

In [387]:
dasa = df2.drop(columns=['Case Number','Location','Name','Age'])

In [388]:
dasa=dasa.rename(columns = {'Sex ':'Sex'})
dasa=dasa.rename(columns = {'Fatal (Y/N)':'Fatal'})
dasa=dasa.rename(columns = {'Date':'Month'})

In [389]:
dasa1 = dasa[dasa["Sex"].isin(['M', 'F'])]

In [390]:
dasa1['Fatal'] = dasa1['Fatal'].str.replace(' N', 'N')

/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [396]:
dasa1= dasa1.drop(columns=['Fatality rates'])

KeyError: "['Fatality rates'] not found in axis"

In [397]:
dasa.to_csv('cleaned.csv')

In [395]:
atxmes=dasa1.groupby(['Year','Country']).count()
atxmes

                           Month  Type  Area  Activity  Sex  Injury  Fatal  \
Year Country
1949 AUSTRALIA                13    13    13        13   13      13     13
     CHINA                     1     1     0         1    1       1      1
     IRAN                      2     2     2         2    2       2      2
     ITALY                     2     2     2         2    2       2      2
     MEXICO                    1     1     1         1    1       1      1
     USA                       2     2     2         2    2       2      2
1950 AUSTRALIA                10    10    10        10   10      10     10
     CUBA                      1     1     1         1    1       1      1
     EL SALVADOR               1     1     1         1    1       1      1
     ITALY                     1     1     1         1    1       1      1
     JAPAN                     1     1     1         1    1       1      1
     SAUDI ARABIA              1     1     1         1    1       1      1
     SOUTH AFRICA              5     5     5         5    5       5      5
     USA                       7     7     7         6    7       7      7
1951 AUSTRALIA                 9     9     9         8    9       9      9
     FRENCH POLYNESIA          1     1     1         1    1       1      1
     GREECE                    2     2     2         2    2       2      2
     ITALY                     3     3     3         3    3       3      3
     JAMAICA                   1     1     1         1    1       1      1
     MEXICO                    1     1     0         1    1       1      1
     MOZAMBIQUE                1     1     1         1    1       1      1
     PACIFIC OCEAN             1     1     0         1    1       1      1
     PHILIPPINES               1     1     0         1    1       1      1
     SOUTH AFRICA              5     5     5         5    5       5      5
     USA                       2     2     2         1    2       2      2
1952 AUSTRALIA                 4     4     4         4    4       4      4
     GUATEMALA                 1     1     0         1    1       1      1
     INDIA                     1     1     0         1    1       1      1
     ITALY                     1     1     1         1    1       1      1
     MAURITIUS                 1     1     1         1    1       1      1
...                          ...   ...   ...       ...  ...     ...    ...
2015 ITALY                     1     1     1         1    1       1      1
     MEXICO                    1     1     1         1    1       1      1
     MOZAMBIQUE                3     3     3         3    3       3      3
     NEW CALEDONIA             1     1     0         1    1       1      1
     PUERTO RICO               1     1     0         1    1       1      1
     REUNION                   4     4     3         4    4       4      4
     SOUTH AFRICA              9     9     9         9    9       9      9
     SPAIN                     2     2     2         2    2       2      2
     THAILAND                  1     1     1         1    1       1      1
     USA                      72    72    72        66   72      72     72
2016 AUSTRALIA                22    22    22        22   22      22     21
     BAHAMAS                   4     4     2         3    4       4      4
     BRAZIL                    1     1     1         1    1       1      1
     CAPE VERDE                1     1     1         0    1       1      1
     CAYMAN ISLANDS            1     1     1         1    1       1      1
     CHINA                     1     1     1         1    1       1      1
     COLUMBIA                  1     1     1         1    1       1      1
     DOMINICAN REPUBLIC        1     1     1         1    1       1      1
     EGYPT                     1     1     1         1    1       1      1
     FRENCH POLYNESIA          1     1     1         1    1       1      1
     Fiji                      1     1     1         1    1       1      1
     INDONESIA                 1     1     1         1    1       1      1
     JAPAN                     1     1     1         1    1       1      1
     NEW CALEDONIA             5     5     4         5    5       5      5
     NEW ZEALAND               1     1     1         1    1       1      1
     REUNION                   1     1     0         1    1       1      1
     SOUTH AFRICA              3     3     3         3    3       3      3
     SPAIN                     2     2     2         2    2       2      2
     UNITED ARAB EMIRATES      1     1     1         1    1       1      1
     USA                      50    50    50        46   50      50     50

                           original order
Year Country
1949 AUSTRALIA                         13
     CHINA                              1
     IRAN                               2
     ITALY                              2
     MEXICO                             1
     USA                                2
1950 AUSTRALIA                         10
     CUBA                               1
     EL SALVADOR                        1
     ITALY                              1
     JAPAN                              1
     SAUDI ARABIA                       1
     SOUTH AFRICA                       5
     USA                                7
1951 AUSTRALIA                          9
     FRENCH POLYNESIA                   1
     GREECE                             2
     ITALY                              3
     JAMAICA                            1
     MEXICO                             1
     MOZAMBIQUE                         1
     PACIFIC OCEAN                      1
     PHILIPPINES                        1
     SOUTH AFRICA                       5
     USA                                2
1952 AUSTRALIA                          4
     GUATEMALA                          1
     INDIA                              1
     ITALY                              1
     MAURITIUS                          1
...                                   ...
2015 ITALY                              1
     MEXICO                             1
     MOZAMBIQUE                         3
     NEW CALEDONIA                      1
     PUERTO RICO                        1
     REUNION                            4
     SOUTH AFRICA                       9
     SPAIN                              2
     THAILAND                           1
     USA                               72
2016 AUSTRALIA                         22
     BAHAMAS                            4
     BRAZIL                             1
     CAPE VERDE                         1
     CAYMAN ISLANDS                     1
     CHINA                              1
     COLUMBIA                           1
     DOMINICAN REPUBLIC                 1
     EGYPT                              1
     FRENCH POLYNESIA                   1
     Fiji                               1
     INDONESIA                          1
     JAPAN                              1
     NEW CALEDONIA                      5
     NEW ZEALAND                        1
     REUNION                            1
     SOUTH AFRICA                       3
     SPAIN                              2
     UNITED ARAB EMIRATES               1
     USA                               50

[837 rows x 8 columns]