In [308]:
import pandas as pd
import numpy as np
data = pd.read_csv('GSAF5.csv', engine='python')

In [10]:
#miro la forma para ver de que esta compuesta
data.shape

(5992, 24)

In [126]:
#analizo los elementos nulos de cada columna
null_cols = data.isnull().sum()

In [379]:
#Elimino las columnas que no necesito
datan = data.drop(columns=['Unnamed: 22', 'Unnamed: 23', 'Investigator or Source','pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'Species ', 'Time'])

In [380]:
#Elimino los aÃ±os que estan a cero

In [381]:
datani = datan[datan.Year != 0]

In [382]:
datanis = datani[datani.Year > 1948]

In [383]:
datanis['Date'] = datanis['Date'].str.replace('-', ' ')
datanis['Date'] = datanis['Date'].str.replace('\d+', '')
datanis['Date'] = datanis['Date'].str.replace('Reported', '')
datanis['Date'] = datanis['Date'].str.replace('Early', '')
datanis['Date'] = datanis['Date'].str.replace('Late', '')
datanis['Date'] = datanis['Date'].str.replace(' ', '')
datanis['Date'] = datanis['Date'].str.replace('Summer, summer, summerof ', '')

/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [384]:
df = datanis[datanis.Date != ""]

In [385]:
#ass = df.Date.value_counts().head(12).index

In [386]:
df2 = df[df["Date"].isin(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug', 'Sep','Oct','Nov','Dec'])]

In [387]:
dasa = df2.drop(columns=['Case Number','Location','Name','Age'])

In [388]:
dasa=dasa.rename(columns = {'Sex ':'Sex'})
dasa=dasa.rename(columns = {'Fatal (Y/N)':'Fatal'})
dasa=dasa.rename(columns = {'Date':'Month'})

In [389]:
dasa1 = dasa[dasa["Sex"].isin(['M', 'F'])]

In [390]:
dasa1['Fatal'] = dasa1['Fatal'].str.replace(' N', 'N')

/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [396]:
dasa1= dasa1.drop(columns=['Fatality rates'])

KeyError: "['Fatality rates'] not found in axis"

In [397]:
dasa.to_csv('cleaned.csv')

In [401]:
nuevo = dasa.drop(columns=['Type', 'Area', 'Activity', 'Injury', 'Sex', 'original order'])

cuantos=nuevo.groupby(['Country']).count() 
cuantos

                            Month  Year  Fatal
Country
 TONGA                          3     3      3
ADMIRALTY ISLANDS               1     1      1
AMERICAN SAMOA                  3     3      3
ANDAMAN / NICOBAR ISLANDAS      1     1      1
ANTIGUA                         1     1      1
ARGENTINA                       1     1      1
ARUBA                           1     1      1
ATLANTIC OCEAN                  6     6      6
AUSTRALIA                     744   744    743
AZORES                          3     3      3
BAHAMAS                        82    82     82
BANGLADESH                      1     1      1
BELIZE                          2     2      2
BERMUDA                        10    10      9
BRAZIL                         94    94     94
BRITISH ISLES                   1     1      1
BRITISH VIRGIN ISLANDS          1     1      1
BRITISH WEST INDIES             1     1      1
CANADA                          3     3      3
CAPE VERDE                      1     1      1
CARIBBEAN SEA                   4     4      4
CAYMAN ISLANDS                  2     2      2
CHILE                           7     7      7
CHINA                           3     3      3
COLUMBIA                        7     7      7
COSTA RICA                      6     6      6
CROATIA                        11    11     10
CUBA                           10    10     10
DIEGO GARCIA                    1     1      1
DOMINICAN REPUBLIC              7     7      7
...                           ...   ...    ...
SOUTH CHINA SEA                 1     1      1
SOUTH KOREA                     7     7      7
SOUTH PACIFIC OCEAN             1     1      1
SPAIN                          16    16     16
SRI LANKA                       1     1      1
ST. MAARTIN                     1     1      1
ST. MARTIN                      1     1      1
SUDAN                           2     2      2
SUDAN?                          1     1      1
Seychelles                      1     1      1
Sierra Leone                    1     1      1
TAIWAN                          9     9      9
TANZANIA                        7     7      7
THAILAND                        6     6      6
THE BALKANS                     1     1      1
TONGA                           9     9      9
TRINIDAD & TOBAGO               2     2      2
TUNISIA                         1     1      1
TURKEY                          5     5      4
TURKS & CAICOS                  5     5      5
UNITED ARAB EMIRATES            1     1      1
UNITED ARAB EMIRATES (UAE)      2     2      2
UNITED KINGDOM                  9     9      9
URUGUAY                         1     1      1
USA                          1741  1741   1741
VANUATU                         7     7      7
VENEZUELA                       8     8      8
VIETNAM                        10    10     10
WESTERN SAMOA                   1     1      1
YEMEN                           2     2      2

[142 rows x 3 columns]